INTERNAL_ACC_IDNEST_URL="http://acc_idnest:${ACC_IDNEST_INTERNAL_PORT}/"
EXTERNAL_ARCHSTOR_URL="http://${UNIFIER_HOST}:${UNIFIER_EXTERNAL_PORT}/archstor/"
EXTERNAL_QREMIS_API_URL="http://${UNIFIER_HOST}:${UNIFIER_EXTERNAL_PORT}/qremis_api/"
INTERNAL_QREMIS_API_URL="http://qremis_api:${QREMIS_API_INTERNAL_PORT}/"
