INTERNAL_ACC_IDNEST_URL="http://acc_idnest:${ACC_IDNEST_INTERNAL_PORT}/"
INTERNAL_RECS_API_URL="http://records_api:${REC_API_INTERNAL_PORT}/"
EXTERNAL_ARCHSTOR_URL="${EXTERNAL_ARCHSTOR_URL}"
EXTERNAL_QREMIS_API_URL="${EXTERNAL_QREMIS_API_URL}"
INTERNAL_QREMIS_API_URL="http://qremis_api:${QREMIS_API_INTERNAL_PORT}/"
